build/app/intermediates/intermediary_bundle/release/packageReleaseBundle/intermediary-bundle.aab
build/app/intermediates/intermediary_bundle/release/shrinkBundleReleaseResources/intermediary-bundle.aab
.dart_tool/flutter_build/a16446df8d989bbdc1b8efb752f073ce/app.dill
build/app/outputs/apk/debug/app-debug.apk
# build/app/outputs/flutter-apk/app-debug.apk
