<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101393840835-68jnhpr0arpk624hi64oa4g38n4qhs92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101393840835-68jnhpr0arpk624hi64oa4g38n4qhs92</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>101393840835-m51clarq2fmcut9jj2ud6stgbb0th4ac.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJdr75YdCaYcfdwgQJZoHVIEa6W0RM7Fg</string>
	<key>GCM_SENDER_ID</key>
	<string>101393840835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musketeerApp</string>
	<key>PROJECT_ID</key>
	<string>musketeerappproject</string>
	<key>STORAGE_BUCKET</key>
	<string>musketeerappproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101393840835:ios:7a052c9ac4c057f03bc076</string>
	<key>DATABASE_URL</key>
	<string>https://musketeerappproject-default-rtdb.firebaseio.com</string>
</dict>
</plist>